ul[class~=dropdown-menu] > li.menu-right.dropdown > ul[class~=dropdown-menu] {
	top: 0;
	left: 100%;
}

ul[class~=dropdown-menu] > li.menu-left.dropdown > ul[class~=dropdown-menu] {
	top: 0;
	right: 100%;
}

div[class~=on-top] ul[class~=dropdown-menu] {
	max-height: 400px;
	overflow-y: scroll; 
}

.quill-contents {
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
}

.quill-contents .ql-editor {
	min-height: 25em;
}

.quill-toolbar {
	background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0px, rgb(224, 224, 224) 100%);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ql-snow.ql-toolbar .ql-picker .ql-picker-label {
	background-color: transparent;
}

.quill.disabled .quill-contents {
	background-color: #eee;
}

.html-component.form-control {
	height: auto;
	min-height: 32px;
}

tfoot:before {
	content: "-";
	display: block;
	line-height: 5px;
	color: transparent;
}

table.reloading, table.reloading td, table.reloading th {
	background-color: #eee;
	opacity: 0.5;
}

#loading-disabled{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	cursor: not-allowed;
}

#loading-img{
	position: absolute;
	height: 86px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align:center;
}

button.btn-link.modal-detail-link {
	padding: 0;
}

.language img {
	display: inline;
	padding-right: 5px;
}

.rdtDays > table > tbody {
	cursor: pointer; cursor: hand
}

input.form-control.entity-enabled {
	background-color: white 
}

.open > .dropdown-menu {
	z-index: 3;
}

.user-profile-header {
	padding-bottom: 9px;
	margin: 20px 0px 10px;
	border-bottom: 1px solid #eee;
}

.user-profile-body {
	padding: 10px 0px;
	margin-bottom: 10px;
	background-color: #D9EDF7;
}

.workflow-process-definition-diagram-modal .modal-dialog {
	width: 90%;
}

.workflow-process-definition-diagram-modal .modal-dialog .modal-body {
	overflow: scroll;
}