@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?7813267');
  src: url('../fonts/fontello.eot?7813267#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?7813267') format('woff2'),
       url('../fonts/fontello.woff?7813267') format('woff'),
       url('../fonts/fontello.ttf?7813267') format('truetype'),
       url('../fonts/fontello.svg?7813267#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7813267#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-power:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-star-half:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-video:before { content: '\e80c'; } /* '' */
.icon-videocam:before { content: '\e80d'; } /* '' */
.icon-picture:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-camera-alt:before { content: '\e810'; } /* '' */
.icon-th-large:before { content: '\e811'; } /* '' */
.icon-th:before { content: '\e812'; } /* '' */
.icon-th-list:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-ok-circled:before { content: '\e815'; } /* '' */
.icon-ok-circled2:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-cancel-circled:before { content: '\e818'; } /* '' */
.icon-cancel-circled2:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-minus-circled:before { content: '\e81d'; } /* '' */
.icon-help-circled:before { content: '\e81e'; } /* '' */
.icon-info-circled:before { content: '\e81f'; } /* '' */
.icon-home:before { content: '\e820'; } /* '' */
.icon-link:before { content: '\e821'; } /* '' */
.icon-attach:before { content: '\e822'; } /* '' */
.icon-lock:before { content: '\e823'; } /* '' */
.icon-lock-open:before { content: '\e824'; } /* '' */
.icon-pin:before { content: '\e825'; } /* '' */
.icon-eye:before { content: '\e826'; } /* '' */
.icon-eye-off:before { content: '\e827'; } /* '' */
.icon-tag:before { content: '\e828'; } /* '' */
.icon-tags:before { content: '\e829'; } /* '' */
.icon-bookmark:before { content: '\e82a'; } /* '' */
.icon-flag:before { content: '\e82b'; } /* '' */
.icon-thumbs-up:before { content: '\e82c'; } /* '' */
.icon-thumbs-down:before { content: '\e82d'; } /* '' */
.icon-download:before { content: '\e82e'; } /* '' */
.icon-upload:before { content: '\e82f'; } /* '' */
.icon-forward:before { content: '\e830'; } /* '' */
.icon-export:before { content: '\e831'; } /* '' */
.icon-pencil:before { content: '\e832'; } /* '' */
.icon-edit:before { content: '\e833'; } /* '' */
.icon-print:before { content: '\e834'; } /* '' */
.icon-retweet:before { content: '\e835'; } /* '' */
.icon-comment:before { content: '\e836'; } /* '' */
.icon-chat:before { content: '\e837'; } /* '' */
.icon-bell:before { content: '\e838'; } /* '' */
.icon-attention:before { content: '\e839'; } /* '' */
.icon-attention-circled:before { content: '\e83a'; } /* '' */
.icon-location:before { content: '\e83b'; } /* '' */
.icon-trash-empty:before { content: '\e83c'; } /* '' */
.icon-doc:before { content: '\e83d'; } /* '' */
.icon-folder:before { content: '\e83e'; } /* '' */
.icon-folder-open:before { content: '\e83f'; } /* '' */
.icon-phone:before { content: '\e840'; } /* '' */
.icon-cog:before { content: '\e841'; } /* '' */
.icon-cog-alt:before { content: '\e842'; } /* '' */
.icon-wrench:before { content: '\e843'; } /* '' */
.icon-basket:before { content: '\e844'; } /* '' */
.icon-calendar:before { content: '\e845'; } /* '' */
.icon-login:before { content: '\e846'; } /* '' */
.icon-logout:before { content: '\e847'; } /* '' */
.icon-volume-off:before { content: '\e848'; } /* '' */
.icon-volume-down:before { content: '\e849'; } /* '' */
.icon-volume-up:before { content: '\e84a'; } /* '' */
.icon-headphones:before { content: '\e84b'; } /* '' */
.icon-clock:before { content: '\e84c'; } /* '' */
.icon-block:before { content: '\e84d'; } /* '' */
.icon-resize-full:before { content: '\e84e'; } /* '' */
.icon-resize-small:before { content: '\e84f'; } /* '' */
.icon-resize-vertical:before { content: '\e850'; } /* '' */
.icon-resize-horizontal:before { content: '\e851'; } /* '' */
.icon-zoom-in:before { content: '\e852'; } /* '' */
.icon-zoom-out:before { content: '\e853'; } /* '' */
.icon-down-circled2:before { content: '\e854'; } /* '' */
.icon-up-circled2:before { content: '\e855'; } /* '' */
.icon-down-dir:before { content: '\e856'; } /* '' */
.icon-up-dir:before { content: '\e857'; } /* '' */
.icon-left-dir:before { content: '\e858'; } /* '' */
.icon-right-dir:before { content: '\e859'; } /* '' */
.icon-down-open:before { content: '\e85a'; } /* '' */
.icon-left-open:before { content: '\e85b'; } /* '' */
.icon-right-open:before { content: '\e85c'; } /* '' */
.icon-up-open:before { content: '\e85d'; } /* '' */
.icon-down-big:before { content: '\e85e'; } /* '' */
.icon-left-big:before { content: '\e85f'; } /* '' */
.icon-right-big:before { content: '\e860'; } /* '' */
.icon-up-big:before { content: '\e861'; } /* '' */
.icon-right-hand:before { content: '\e862'; } /* '' */
.icon-left-hand:before { content: '\e863'; } /* '' */
.icon-up-hand:before { content: '\e864'; } /* '' */
.icon-down-hand:before { content: '\e865'; } /* '' */
.icon-cw:before { content: '\e866'; } /* '' */
.icon-ccw:before { content: '\e867'; } /* '' */
.icon-arrows-cw:before { content: '\e868'; } /* '' */
.icon-shuffle:before { content: '\e869'; } /* '' */
.icon-play:before { content: '\e86a'; } /* '' */
.icon-play-circled2:before { content: '\e86b'; } /* '' */
.icon-stop:before { content: '\e86c'; } /* '' */
.icon-pause:before { content: '\e86d'; } /* '' */
.icon-to-end:before { content: '\e86e'; } /* '' */
.icon-to-end-alt:before { content: '\e86f'; } /* '' */
.icon-to-start:before { content: '\e870'; } /* '' */
.icon-to-start-alt:before { content: '\e871'; } /* '' */
.icon-fast-fw:before { content: '\e872'; } /* '' */
.icon-fast-bw:before { content: '\e873'; } /* '' */
.icon-eject:before { content: '\e874'; } /* '' */
.icon-target:before { content: '\e875'; } /* '' */
.icon-signal:before { content: '\e876'; } /* '' */
.icon-award:before { content: '\e877'; } /* '' */
.icon-inbox:before { content: '\e878'; } /* '' */
.icon-globe:before { content: '\e879'; } /* '' */
.icon-cloud:before { content: '\e87a'; } /* '' */
.icon-flash:before { content: '\e87b'; } /* '' */
.icon-umbrella:before { content: '\e87c'; } /* '' */
.icon-flight:before { content: '\e87d'; } /* '' */
.icon-leaf:before { content: '\e87e'; } /* '' */
.icon-font:before { content: '\e87f'; } /* '' */
.icon-bold:before { content: '\e880'; } /* '' */
.icon-italic:before { content: '\e881'; } /* '' */
.icon-text-height:before { content: '\e882'; } /* '' */
.icon-text-width:before { content: '\e883'; } /* '' */
.icon-align-left:before { content: '\e884'; } /* '' */
.icon-align-center:before { content: '\e885'; } /* '' */
.icon-align-right:before { content: '\e886'; } /* '' */
.icon-align-justify:before { content: '\e887'; } /* '' */
.icon-list:before { content: '\e888'; } /* '' */
.icon-indent-left:before { content: '\e889'; } /* '' */
.icon-indent-right:before { content: '\e88a'; } /* '' */
.icon-scissors:before { content: '\e88b'; } /* '' */
.icon-briefcase:before { content: '\e88c'; } /* '' */
.icon-off:before { content: '\e88d'; } /* '' */
.icon-road:before { content: '\e88e'; } /* '' */
.icon-list-alt:before { content: '\e88f'; } /* '' */
.icon-qrcode:before { content: '\e890'; } /* '' */
.icon-barcode:before { content: '\e891'; } /* '' */
.icon-book:before { content: '\e892'; } /* '' */
.icon-ajust:before { content: '\e893'; } /* '' */
.icon-tint:before { content: '\e894'; } /* '' */
.icon-check:before { content: '\e895'; } /* '' */
.icon-asterisk:before { content: '\e896'; } /* '' */
.icon-gift:before { content: '\e897'; } /* '' */
.icon-fire:before { content: '\e898'; } /* '' */
.icon-magnet:before { content: '\e899'; } /* '' */
.icon-chart-bar:before { content: '\e89a'; } /* '' */
.icon-credit-card:before { content: '\e89b'; } /* '' */
.icon-floppy:before { content: '\e89c'; } /* '' */
.icon-megaphone:before { content: '\e89d'; } /* '' */
.icon-key:before { content: '\e89e'; } /* '' */
.icon-truck:before { content: '\e89f'; } /* '' */
.icon-hammer:before { content: '\e8a0'; } /* '' */
.icon-lemon:before { content: '\e8a1'; } /* '' */
.icon-note:before { content: '\e8a2'; } /* '' */
.icon-note-beamed:before { content: '\e8a3'; } /* '' */
.icon-music-1:before { content: '\e8a4'; } /* '' */
.icon-search-1:before { content: '\e8a5'; } /* '' */
.icon-flashlight:before { content: '\e8a6'; } /* '' */
.icon-mail-1:before { content: '\e8a7'; } /* '' */
.icon-heart-1:before { content: '\e8a8'; } /* '' */
.icon-heart-empty-1:before { content: '\e8a9'; } /* '' */
.icon-star-1:before { content: '\e8aa'; } /* '' */
.icon-star-empty-1:before { content: '\e8ab'; } /* '' */
.icon-user-1:before { content: '\e8ac'; } /* '' */
.icon-users-1:before { content: '\e8ad'; } /* '' */
.icon-user-add:before { content: '\e8ae'; } /* '' */
.icon-video-1:before { content: '\e8af'; } /* '' */
.icon-picture-1:before { content: '\e8b0'; } /* '' */
.icon-camera-1:before { content: '\e8b1'; } /* '' */
.icon-layout:before { content: '\e8b2'; } /* '' */
.icon-menu-1:before { content: '\e8b3'; } /* '' */
.icon-check-1:before { content: '\e8b4'; } /* '' */
.icon-cancel-circled-1:before { content: '\e8b5'; } /* '' */
.icon-cancel-squared:before { content: '\e8b6'; } /* '' */
.icon-plus-1:before { content: '\e8b7'; } /* '' */
.icon-plus-circled-1:before { content: '\e8b8'; } /* '' */
.icon-plus-squared-1:before { content: '\e8b9'; } /* '' */
.icon-minus-1:before { content: '\e8ba'; } /* '' */
.icon-minus-circled-1:before { content: '\e8bb'; } /* '' */
.icon-minus-squared-1:before { content: '\e8bc'; } /* '' */
.icon-help-1:before { content: '\e8bd'; } /* '' */
.icon-help-circled-1:before { content: '\e8be'; } /* '' */
.icon-info-1:before { content: '\e8bf'; } /* '' */
.icon-info-circled-1:before { content: '\e8c0'; } /* '' */
.icon-back:before { content: '\e8c1'; } /* '' */
.icon-home-1:before { content: '\e8c2'; } /* '' */
.icon-link-1:before { content: '\e8c3'; } /* '' */
.icon-attach-1:before { content: '\e8c4'; } /* '' */
.icon-lock-1:before { content: '\e8c5'; } /* '' */
.icon-lock-open-1:before { content: '\e8c6'; } /* '' */
.icon-eye-1:before { content: '\e8c7'; } /* '' */
.icon-bookmark-1:before { content: '\e8c8'; } /* '' */
.icon-bookmarks:before { content: '\e8c9'; } /* '' */
.icon-flag-1:before { content: '\e8ca'; } /* '' */
.icon-thumbs-up-1:before { content: '\e8cb'; } /* '' */
.icon-thumbs-down-1:before { content: '\e8cc'; } /* '' */
.icon-download-1:before { content: '\e8cd'; } /* '' */
.icon-upload-1:before { content: '\e8ce'; } /* '' */
.icon-upload-cloud-1:before { content: '\e8cf'; } /* '' */
.icon-reply-1:before { content: '\e8d0'; } /* '' */
.icon-reply-all-1:before { content: '\e8d1'; } /* '' */
.icon-forward-1:before { content: '\e8d2'; } /* '' */
.icon-quote:before { content: '\e8d3'; } /* '' */
.icon-code-1:before { content: '\e8d4'; } /* '' */
.icon-export-1:before { content: '\e8d5'; } /* '' */
.icon-pencil-1:before { content: '\e8d6'; } /* '' */
.icon-feather:before { content: '\e8d7'; } /* '' */
.icon-print-1:before { content: '\e8d8'; } /* '' */
.icon-retweet-1:before { content: '\e8d9'; } /* '' */
.icon-keyboard-1:before { content: '\e8da'; } /* '' */
.icon-chat-1:before { content: '\e8db'; } /* '' */
.icon-bell-1:before { content: '\e8dc'; } /* '' */
.icon-attention-1:before { content: '\e8dd'; } /* '' */
.icon-alert:before { content: '\e8de'; } /* '' */
.icon-vcard:before { content: '\e8df'; } /* '' */
.icon-address:before { content: '\e8e0'; } /* '' */
.icon-location-1:before { content: '\e8e1'; } /* '' */
.icon-map:before { content: '\e8e2'; } /* '' */
.icon-direction-1:before { content: '\e8e3'; } /* '' */
.icon-compass-1:before { content: '\e8e4'; } /* '' */
.icon-cup:before { content: '\e8e5'; } /* '' */
.icon-trash-1:before { content: '\e8e6'; } /* '' */
.icon-doc-1:before { content: '\e8e7'; } /* '' */
.icon-docs-1:before { content: '\e8e8'; } /* '' */
.icon-doc-landscape:before { content: '\e8e9'; } /* '' */
.icon-doc-text-1:before { content: '\e8ea'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e8eb'; } /* '' */
.icon-newspaper-1:before { content: '\e8ec'; } /* '' */
.icon-book-open:before { content: '\e8ed'; } /* '' */
.icon-folder-1:before { content: '\e8ee'; } /* '' */
.icon-archive:before { content: '\e8ef'; } /* '' */
.icon-box-1:before { content: '\e8f0'; } /* '' */
.icon-rss-1:before { content: '\e8f1'; } /* '' */
.icon-phone-1:before { content: '\e8f2'; } /* '' */
.icon-cog-1:before { content: '\e8f3'; } /* '' */
.icon-tools:before { content: '\e8f4'; } /* '' */
.icon-share-1:before { content: '\e8f5'; } /* '' */
.icon-shareable:before { content: '\e8f6'; } /* '' */
.icon-basket-1:before { content: '\e8f7'; } /* '' */
.icon-bag:before { content: '\e8f8'; } /* '' */
.icon-calendar-1:before { content: '\e8f9'; } /* '' */
.icon-login-1:before { content: '\e8fa'; } /* '' */
.icon-logout-1:before { content: '\e8fb'; } /* '' */
.icon-mic-1:before { content: '\e8fc'; } /* '' */
.icon-mute-1:before { content: '\e8fd'; } /* '' */
.icon-sound:before { content: '\e8fe'; } /* '' */
.icon-volume:before { content: '\e8ff'; } /* '' */
.icon-clock-1:before { content: '\e900'; } /* '' */
.icon-lamp:before { content: '\e901'; } /* '' */
.icon-light-down:before { content: '\e902'; } /* '' */
.icon-light-up:before { content: '\e903'; } /* '' */
.icon-adjust:before { content: '\e904'; } /* '' */
.icon-block-1:before { content: '\e905'; } /* '' */
.icon-resize-full-1:before { content: '\e906'; } /* '' */
.icon-resize-small-1:before { content: '\e907'; } /* '' */
.icon-popup:before { content: '\e908'; } /* '' */
.icon-publish:before { content: '\e909'; } /* '' */
.icon-window:before { content: '\e90a'; } /* '' */
.icon-arrow-combo:before { content: '\e90b'; } /* '' */
.icon-down-circled-1:before { content: '\e90c'; } /* '' */
.icon-left-circled-1:before { content: '\e90d'; } /* '' */
.icon-right-circled-1:before { content: '\e90e'; } /* '' */
.icon-up-circled-1:before { content: '\e90f'; } /* '' */
.icon-down-open-1:before { content: '\e910'; } /* '' */
.icon-left-open-1:before { content: '\e911'; } /* '' */
.icon-right-open-1:before { content: '\e912'; } /* '' */
.icon-up-open-1:before { content: '\e913'; } /* '' */
.icon-left-open-mini:before { content: '\e914'; } /* '' */
.icon-right-open-mini:before { content: '\e915'; } /* '' */
.icon-up-open-mini:before { content: '\e916'; } /* '' */
.icon-down-open-big:before { content: '\e917'; } /* '' */
.icon-left-open-big:before { content: '\e918'; } /* '' */
.icon-right-open-big:before { content: '\e919'; } /* '' */
.icon-up-open-big:before { content: '\e91a'; } /* '' */
.icon-down-1:before { content: '\e91b'; } /* '' */
.icon-left-1:before { content: '\e91c'; } /* '' */
.icon-right-1:before { content: '\e91d'; } /* '' */
.icon-up-1:before { content: '\e91e'; } /* '' */
.icon-down-dir-1:before { content: '\e91f'; } /* '' */
.icon-left-dir-1:before { content: '\e920'; } /* '' */
.icon-right-dir-1:before { content: '\e921'; } /* '' */
.icon-up-dir-1:before { content: '\e922'; } /* '' */
.icon-down-bold:before { content: '\e923'; } /* '' */
.icon-left-bold:before { content: '\e924'; } /* '' */
.icon-right-bold:before { content: '\e925'; } /* '' */
.icon-up-bold:before { content: '\e926'; } /* '' */
.icon-left-thin:before { content: '\e927'; } /* '' */
.icon-right-thin:before { content: '\e928'; } /* '' */
.icon-up-thin:before { content: '\e929'; } /* '' */
.icon-ccw-1:before { content: '\e92a'; } /* '' */
.icon-cw-1:before { content: '\e92b'; } /* '' */
.icon-arrows-ccw:before { content: '\e92c'; } /* '' */
.icon-level-down-1:before { content: '\e92d'; } /* '' */
.icon-level-up-1:before { content: '\e92e'; } /* '' */
.icon-shuffle-1:before { content: '\e92f'; } /* '' */
.icon-loop:before { content: '\e930'; } /* '' */
.icon-switch:before { content: '\e931'; } /* '' */
.icon-play-1:before { content: '\e932'; } /* '' */
.icon-stop-1:before { content: '\e933'; } /* '' */
.icon-pause-1:before { content: '\e934'; } /* '' */
.icon-record:before { content: '\e935'; } /* '' */
.icon-to-end-1:before { content: '\e936'; } /* '' */
.icon-to-start-1:before { content: '\e937'; } /* '' */
.icon-fast-forward:before { content: '\e938'; } /* '' */
.icon-fast-backward:before { content: '\e939'; } /* '' */
.icon-progress-1:before { content: '\e93a'; } /* '' */
.icon-progress-2:before { content: '\e93b'; } /* '' */
.icon-progress-3:before { content: '\e93c'; } /* '' */
.icon-target-1:before { content: '\e93d'; } /* '' */
.icon-palette:before { content: '\e93e'; } /* '' */
.icon-list-1:before { content: '\e93f'; } /* '' */
.icon-list-add:before { content: '\e940'; } /* '' */
.icon-signal-1:before { content: '\e941'; } /* '' */
.icon-trophy:before { content: '\e942'; } /* '' */
.icon-battery:before { content: '\e943'; } /* '' */
.icon-back-in-time:before { content: '\e944'; } /* '' */
.icon-monitor:before { content: '\e945'; } /* '' */
.icon-mobile-1:before { content: '\e946'; } /* '' */
.icon-network:before { content: '\e947'; } /* '' */
.icon-cd:before { content: '\e948'; } /* '' */
.icon-inbox-1:before { content: '\e949'; } /* '' */
.icon-install:before { content: '\e94a'; } /* '' */
.icon-globe-1:before { content: '\e94b'; } /* '' */
.icon-cloud-1:before { content: '\e94c'; } /* '' */
.icon-flash-1:before { content: '\e94d'; } /* '' */
.icon-moon-1:before { content: '\e94e'; } /* '' */
.icon-flight-1:before { content: '\e94f'; } /* '' */
.icon-paper-plane-1:before { content: '\e950'; } /* '' */
.icon-leaf-1:before { content: '\e951'; } /* '' */
.icon-lifebuoy-1:before { content: '\e952'; } /* '' */
.icon-mouse:before { content: '\e953'; } /* '' */
.icon-briefcase-1:before { content: '\e954'; } /* '' */
.icon-suitcase-1:before { content: '\e955'; } /* '' */
.icon-dot:before { content: '\e956'; } /* '' */
.icon-dot-2:before { content: '\e957'; } /* '' */
.icon-dot-3:before { content: '\e958'; } /* '' */
.icon-brush-1:before { content: '\e959'; } /* '' */
.icon-magnet-1:before { content: '\e95a'; } /* '' */
.icon-infinity:before { content: '\e95b'; } /* '' */
.icon-erase:before { content: '\e95c'; } /* '' */
.icon-chart-pie-1:before { content: '\e95d'; } /* '' */
.icon-chart-line-1:before { content: '\e95e'; } /* '' */
.icon-chart-bar-1:before { content: '\e95f'; } /* '' */
.icon-tape:before { content: '\e960'; } /* '' */
.icon-graduation-cap-1:before { content: '\e961'; } /* '' */
.icon-language-1:before { content: '\e962'; } /* '' */
.icon-ticket-1:before { content: '\e963'; } /* '' */
.icon-water:before { content: '\e964'; } /* '' */
.icon-droplet:before { content: '\e965'; } /* '' */
.icon-air:before { content: '\e966'; } /* '' */
.icon-credit-card-1:before { content: '\e967'; } /* '' */
.icon-floppy-1:before { content: '\e968'; } /* '' */
.icon-clipboard:before { content: '\e969'; } /* '' */
.icon-megaphone-1:before { content: '\e96a'; } /* '' */
.icon-database-1:before { content: '\e96b'; } /* '' */
.icon-drive:before { content: '\e96c'; } /* '' */
.icon-bucket:before { content: '\e96d'; } /* '' */
.icon-thermometer:before { content: '\e96e'; } /* '' */
.icon-key-1:before { content: '\e96f'; } /* '' */
.icon-flow-cascade:before { content: '\e970'; } /* '' */
.icon-flow-branch:before { content: '\e971'; } /* '' */
.icon-flow-tree:before { content: '\e972'; } /* '' */
.icon-flow-parallel:before { content: '\e973'; } /* '' */
.icon-rocket-1:before { content: '\e974'; } /* '' */
.icon-gauge-1:before { content: '\e975'; } /* '' */
.icon-traffic-cone:before { content: '\e976'; } /* '' */
.icon-cc-1:before { content: '\e977'; } /* '' */
.icon-cc-by:before { content: '\e978'; } /* '' */
.icon-cc-nc:before { content: '\e979'; } /* '' */
.icon-cc-nc-eu:before { content: '\e97a'; } /* '' */
.icon-cc-nc-jp:before { content: '\e97b'; } /* '' */
.icon-cc-sa:before { content: '\e97c'; } /* '' */
.icon-cc-nd:before { content: '\e97d'; } /* '' */
.icon-cc-pd:before { content: '\e97e'; } /* '' */
.icon-cc-zero:before { content: '\e97f'; } /* '' */
.icon-cc-share:before { content: '\e980'; } /* '' */
.icon-cc-remix:before { content: '\e981'; } /* '' */
.icon-github-1:before { content: '\e982'; } /* '' */
.icon-flickr-circled:before { content: '\e983'; } /* '' */
.icon-facebook-1:before { content: '\e984'; } /* '' */
.icon-search-2:before { content: '\e985'; } /* '' */
.icon-mail-2:before { content: '\e986'; } /* '' */
.icon-heart-2:before { content: '\e987'; } /* '' */
.icon-heart-empty-2:before { content: '\e988'; } /* '' */
.icon-star-2:before { content: '\e989'; } /* '' */
.icon-user-2:before { content: '\e98a'; } /* '' */
.icon-video-2:before { content: '\e98b'; } /* '' */
.icon-picture-2:before { content: '\e98c'; } /* '' */
.icon-camera-2:before { content: '\e98d'; } /* '' */
.icon-ok-1:before { content: '\e98e'; } /* '' */
.icon-ok-circle:before { content: '\e98f'; } /* '' */
.icon-cancel-1:before { content: '\e990'; } /* '' */
.icon-cancel-circle:before { content: '\e991'; } /* '' */
.icon-plus-2:before { content: '\e992'; } /* '' */
.icon-plus-circle:before { content: '\e993'; } /* '' */
.icon-minus-2:before { content: '\e994'; } /* '' */
.icon-minus-circle:before { content: '\e995'; } /* '' */
.icon-help-2:before { content: '\e996'; } /* '' */
.icon-info-2:before { content: '\e997'; } /* '' */
.icon-link-2:before { content: '\e998'; } /* '' */
.icon-attach-2:before { content: '\e999'; } /* '' */
.icon-lock-2:before { content: '\e99a'; } /* '' */
.icon-lock-empty:before { content: '\e99b'; } /* '' */
.icon-lock-open-2:before { content: '\e99c'; } /* '' */
.icon-lock-open-empty:before { content: '\e99d'; } /* '' */
.icon-pin-1:before { content: '\e99e'; } /* '' */
.icon-eye-2:before { content: '\e99f'; } /* '' */
.icon-tag-1:before { content: '\e9a0'; } /* '' */
.icon-tag-empty:before { content: '\e9a1'; } /* '' */
.icon-download-2:before { content: '\e9a2'; } /* '' */
.icon-upload-2:before { content: '\e9a3'; } /* '' */
.icon-download-cloud-1:before { content: '\e9a4'; } /* '' */
.icon-upload-cloud-2:before { content: '\e9a5'; } /* '' */
.icon-quote-left-1:before { content: '\e9a6'; } /* '' */
.icon-quote-right-1:before { content: '\e9a7'; } /* '' */
.icon-quote-left-alt:before { content: '\e9a8'; } /* '' */
.icon-quote-right-alt:before { content: '\e9a9'; } /* '' */
.icon-pencil-2:before { content: '\e9aa'; } /* '' */
.icon-pencil-alt:before { content: '\e9ab'; } /* '' */
.icon-undo:before { content: '\e9ac'; } /* '' */
.icon-comment-1:before { content: '\e9ad'; } /* '' */
.icon-comment-inv:before { content: '\e9ae'; } /* '' */
.icon-comment-alt:before { content: '\e9af'; } /* '' */
.icon-comment-inv-alt:before { content: '\e9b0'; } /* '' */
.icon-comment-alt2:before { content: '\e9b1'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e9b2'; } /* '' */
.icon-chat-2:before { content: '\e9b3'; } /* '' */
.icon-chat-inv:before { content: '\e9b4'; } /* '' */
.icon-location-2:before { content: '\e9b5'; } /* '' */
.icon-location-inv:before { content: '\e9b6'; } /* '' */
.icon-location-alt:before { content: '\e9b7'; } /* '' */
.icon-compass-2:before { content: '\e9b8'; } /* '' */
.icon-trash-2:before { content: '\e9b9'; } /* '' */
.icon-trash-empty-1:before { content: '\e9ba'; } /* '' */
.icon-doc-2:before { content: '\e9bb'; } /* '' */
.icon-doc-inv-1:before { content: '\e9bc'; } /* '' */
.icon-doc-alt:before { content: '\e9bd'; } /* '' */
.icon-article:before { content: '\e9be'; } /* '' */
.icon-article-alt:before { content: '\e9bf'; } /* '' */
.icon-book-open-1:before { content: '\e9c0'; } /* '' */
.icon-folder-2:before { content: '\e9c1'; } /* '' */
.icon-folder-empty-1:before { content: '\e9c2'; } /* '' */
.icon-box-2:before { content: '\e9c3'; } /* '' */
.icon-rss-2:before { content: '\e9c4'; } /* '' */
.icon-rss-alt:before { content: '\e9c5'; } /* '' */
.icon-cog-2:before { content: '\e9c6'; } /* '' */
.icon-wrench-1:before { content: '\e9c7'; } /* '' */
.icon-share-2:before { content: '\e9c8'; } /* '' */
.icon-calendar-2:before { content: '\e9c9'; } /* '' */
.icon-calendar-inv:before { content: '\e9ca'; } /* '' */
.icon-calendar-alt:before { content: '\e9cb'; } /* '' */
.icon-mic-2:before { content: '\e9cc'; } /* '' */
.icon-volume-off-1:before { content: '\e9cd'; } /* '' */
.icon-volume-up-1:before { content: '\e9ce'; } /* '' */
.icon-headphones-1:before { content: '\e9cf'; } /* '' */
.icon-clock-2:before { content: '\e9d0'; } /* '' */
.icon-block-2:before { content: '\e9d1'; } /* '' */
.icon-resize-full-2:before { content: '\e9d2'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e9d3'; } /* '' */
.icon-resize-small-2:before { content: '\e9d4'; } /* '' */
.icon-resize-small-alt:before { content: '\e9d5'; } /* '' */
.icon-resize-vertical-1:before { content: '\e9d6'; } /* '' */
.icon-resize-horizontal-1:before { content: '\e9d7'; } /* '' */
.icon-move-1:before { content: '\e9d8'; } /* '' */
.icon-popup-1:before { content: '\e9d9'; } /* '' */
.icon-down-2:before { content: '\e9da'; } /* '' */
.icon-left-2:before { content: '\e9db'; } /* '' */
.icon-right-2:before { content: '\e9dc'; } /* '' */
.icon-up-2:before { content: '\e9dd'; } /* '' */
.icon-down-circle:before { content: '\e9de'; } /* '' */
.icon-left-circle:before { content: '\e9df'; } /* '' */
.icon-right-circle:before { content: '\e9e0'; } /* '' */
.icon-up-circle:before { content: '\e9e1'; } /* '' */
.icon-cw-2:before { content: '\e9e2'; } /* '' */
.icon-loop-1:before { content: '\e9e3'; } /* '' */
.icon-exchange-1:before { content: '\e9e4'; } /* '' */
.icon-split:before { content: '\e9e5'; } /* '' */
.icon-arrow-curved:before { content: '\e9e6'; } /* '' */
.icon-play-2:before { content: '\e9e7'; } /* '' */
.icon-play-circle2:before { content: '\e9e8'; } /* '' */
.icon-stop-2:before { content: '\e9e9'; } /* '' */
.icon-pause-2:before { content: '\e9ea'; } /* '' */
.icon-to-start-2:before { content: '\e9eb'; } /* '' */
.icon-to-end-2:before { content: '\e9ec'; } /* '' */
.icon-eject-1:before { content: '\e9ed'; } /* '' */
.icon-target-2:before { content: '\e9ee'; } /* '' */
.icon-signal-2:before { content: '\e9ef'; } /* '' */
.icon-award-1:before { content: '\e9f0'; } /* '' */
.icon-award-empty:before { content: '\e9f1'; } /* '' */
.icon-list-2:before { content: '\e9f2'; } /* '' */
.icon-list-nested:before { content: '\e9f3'; } /* '' */
.icon-bat-empty:before { content: '\e9f4'; } /* '' */
.icon-bat-half:before { content: '\e9f5'; } /* '' */
.icon-bat-full:before { content: '\e9f6'; } /* '' */
.icon-mobile-2:before { content: '\e9f7'; } /* '' */
.icon-cd-1:before { content: '\e9f8'; } /* '' */
.icon-equalizer:before { content: '\e9f9'; } /* '' */
.icon-cursor:before { content: '\e9fa'; } /* '' */
.icon-aperture:before { content: '\e9fb'; } /* '' */
.icon-aperture-alt:before { content: '\e9fc'; } /* '' */
.icon-steering-wheel:before { content: '\e9fd'; } /* '' */
.icon-book-1:before { content: '\e9fe'; } /* '' */
.icon-book-alt:before { content: '\e9ff'; } /* '' */
.icon-brush-2:before { content: '\ea00'; } /* '' */
.icon-brush-alt:before { content: '\ea01'; } /* '' */
.icon-eyedropper-1:before { content: '\ea02'; } /* '' */
.icon-layers:before { content: '\ea03'; } /* '' */
.icon-layers-alt:before { content: '\ea04'; } /* '' */
.icon-sun-1:before { content: '\ea05'; } /* '' */
.icon-sun-inv:before { content: '\ea06'; } /* '' */
.icon-cloud-2:before { content: '\ea07'; } /* '' */
.icon-rain:before { content: '\ea08'; } /* '' */
.icon-flash-2:before { content: '\ea09'; } /* '' */
.icon-moon-inv:before { content: '\ea0a'; } /* '' */
.icon-umbrella-1:before { content: '\ea0b'; } /* '' */
.icon-chart-bar-2:before { content: '\ea0c'; } /* '' */
.icon-chart-pie-2:before { content: '\ea0d'; } /* '' */
.icon-chart-pie-alt:before { content: '\ea0e'; } /* '' */
.icon-key-2:before { content: '\ea0f'; } /* '' */
.icon-key-inv:before { content: '\ea10'; } /* '' */
.icon-hash:before { content: '\ea11'; } /* '' */
.icon-at-1:before { content: '\ea12'; } /* '' */
.icon-pilcrow:before { content: '\ea13'; } /* '' */
.icon-dial:before { content: '\ea14'; } /* '' */
.icon-search-3:before { content: '\ea15'; } /* '' */
.icon-mail-3:before { content: '\ea16'; } /* '' */
.icon-heart-3:before { content: '\ea17'; } /* '' */
.icon-star-3:before { content: '\ea18'; } /* '' */
.icon-user-3:before { content: '\ea19'; } /* '' */
.icon-user-woman:before { content: '\ea1a'; } /* '' */
.icon-user-pair:before { content: '\ea1b'; } /* '' */
.icon-video-alt:before { content: '\ea1c'; } /* '' */
.icon-videocam-1:before { content: '\ea1d'; } /* '' */
.icon-videocam-alt:before { content: '\ea1e'; } /* '' */
.icon-camera-3:before { content: '\ea1f'; } /* '' */
.icon-th-1:before { content: '\ea20'; } /* '' */
.icon-th-list-1:before { content: '\ea21'; } /* '' */
.icon-ok-2:before { content: '\ea22'; } /* '' */
.icon-cancel-2:before { content: '\ea23'; } /* '' */
.icon-cancel-circle-1:before { content: '\ea24'; } /* '' */
.icon-plus-3:before { content: '\ea25'; } /* '' */
.icon-home-2:before { content: '\ea26'; } /* '' */
.icon-lock-3:before { content: '\ea27'; } /* '' */
.icon-eye-3:before { content: '\ea28'; } /* '' */
.icon-tag-2:before { content: '\ea29'; } /* '' */
.icon-thumbs-up-2:before { content: '\ea2a'; } /* '' */
.icon-thumbs-down-2:before { content: '\ea2b'; } /* '' */
.icon-download-3:before { content: '\ea2c'; } /* '' */
.icon-export-2:before { content: '\ea2d'; } /* '' */
.icon-pencil-3:before { content: '\ea2e'; } /* '' */
.icon-pencil-alt-1:before { content: '\ea2f'; } /* '' */
.icon-edit-1:before { content: '\ea30'; } /* '' */
.icon-chat-3:before { content: '\ea31'; } /* '' */
.icon-print-2:before { content: '\ea32'; } /* '' */
.icon-bell-2:before { content: '\ea33'; } /* '' */
.icon-attention-2:before { content: '\ea34'; } /* '' */
.icon-info-3:before { content: '\ea35'; } /* '' */
.icon-question:before { content: '\ea36'; } /* '' */
.icon-location-3:before { content: '\ea37'; } /* '' */
.icon-trash-3:before { content: '\ea38'; } /* '' */
.icon-doc-3:before { content: '\ea39'; } /* '' */
.icon-article-1:before { content: '\ea3a'; } /* '' */
.icon-rss-3:before { content: '\ea3b'; } /* '' */
.icon-wrench-2:before { content: '\ea3c'; } /* '' */
.icon-basket-2:before { content: '\ea3d'; } /* '' */
.icon-basket-alt:before { content: '\ea3e'; } /* '' */
.icon-calendar-3:before { content: '\ea3f'; } /* '' */
.icon-calendar-alt-1:before { content: '\ea40'; } /* '' */
.icon-volume-off-2:before { content: '\ea41'; } /* '' */
.icon-volume-down-1:before { content: '\ea42'; } /* '' */
.icon-volume-up-2:before { content: '\ea43'; } /* '' */
.icon-bullhorn:before { content: '\ea44'; } /* '' */
.icon-clock-3:before { content: '\ea45'; } /* '' */
.icon-clock-alt:before { content: '\ea46'; } /* '' */
.icon-stop-3:before { content: '\ea47'; } /* '' */
.icon-resize-full-3:before { content: '\ea48'; } /* '' */
.icon-resize-small-3:before { content: '\ea49'; } /* '' */
.icon-zoom-in-1:before { content: '\ea4a'; } /* '' */
.icon-zoom-out-1:before { content: '\ea4b'; } /* '' */
.icon-popup-2:before { content: '\ea4c'; } /* '' */
.icon-down-dir-2:before { content: '\ea4d'; } /* '' */
.icon-right-dir-2:before { content: '\ea4e'; } /* '' */
.icon-up-dir-2:before { content: '\ea4f'; } /* '' */
.icon-down-3:before { content: '\ea50'; } /* '' */
.icon-up-3:before { content: '\ea51'; } /* '' */
.icon-cw-3:before { content: '\ea52'; } /* '' */
.icon-signal-3:before { content: '\ea53'; } /* '' */
.icon-award-2:before { content: '\ea54'; } /* '' */
.icon-mobile-3:before { content: '\ea55'; } /* '' */
.icon-mobile-alt:before { content: '\ea56'; } /* '' */
.icon-tablet-1:before { content: '\ea57'; } /* '' */
.icon-ipod:before { content: '\ea58'; } /* '' */
.icon-cd-2:before { content: '\ea59'; } /* '' */
.icon-grid:before { content: '\ea5a'; } /* '' */
.icon-book-2:before { content: '\ea5b'; } /* '' */
.icon-easel:before { content: '\ea5c'; } /* '' */
.icon-globe-2:before { content: '\ea5d'; } /* '' */
.icon-chart:before { content: '\ea5e'; } /* '' */
.icon-chart-bar-3:before { content: '\ea5f'; } /* '' */
.icon-chart-pie-3:before { content: '\ea60'; } /* '' */
.icon-at-2:before { content: '\ea61'; } /* '' */
.icon-colon:before { content: '\ea62'; } /* '' */
.icon-semicolon:before { content: '\ea63'; } /* '' */
.icon-squares:before { content: '\ea64'; } /* '' */
.icon-money-1:before { content: '\ea65'; } /* '' */
.icon-facebook-2:before { content: '\ea66'; } /* '' */
.icon-facebook-rect:before { content: '\ea67'; } /* '' */
.icon-twitter-bird:before { content: '\ea68'; } /* '' */
.icon-youtube-1:before { content: '\ea69'; } /* '' */
.icon-windy-rain-inv:before { content: '\ea6a'; } /* '' */
.icon-snow-inv:before { content: '\ea6b'; } /* '' */
.icon-snow-heavy-inv:before { content: '\ea6c'; } /* '' */
.icon-hail-inv:before { content: '\ea6d'; } /* '' */
.icon-clouds-inv:before { content: '\ea6e'; } /* '' */
.icon-clouds-flash-inv:before { content: '\ea6f'; } /* '' */
.icon-temperature:before { content: '\ea70'; } /* '' */
.icon-compass-3:before { content: '\ea71'; } /* '' */
.icon-na:before { content: '\ea72'; } /* '' */
.icon-celcius:before { content: '\ea73'; } /* '' */
.icon-fahrenheit:before { content: '\ea74'; } /* '' */
.icon-clouds-flash-alt:before { content: '\ea75'; } /* '' */
.icon-sun-inv-1:before { content: '\ea76'; } /* '' */
.icon-moon-inv-1:before { content: '\ea77'; } /* '' */
.icon-cloud-sun-inv:before { content: '\ea78'; } /* '' */
.icon-cloud-moon-inv:before { content: '\ea79'; } /* '' */
.icon-cloud-inv:before { content: '\ea7a'; } /* '' */
.icon-cloud-flash-inv:before { content: '\ea7b'; } /* '' */
.icon-drizzle-inv:before { content: '\ea7c'; } /* '' */
.icon-windy-inv:before { content: '\ea7d'; } /* '' */
.icon-sunrise:before { content: '\ea7e'; } /* '' */
.icon-sun-2:before { content: '\ea7f'; } /* '' */
.icon-moon-2:before { content: '\ea80'; } /* '' */
.icon-eclipse:before { content: '\ea81'; } /* '' */
.icon-mist:before { content: '\ea82'; } /* '' */
.icon-wind:before { content: '\ea83'; } /* '' */
.icon-snowflake:before { content: '\ea84'; } /* '' */
.icon-cloud-sun:before { content: '\ea85'; } /* '' */
.icon-cloud-moon:before { content: '\ea86'; } /* '' */
.icon-fog-sun:before { content: '\ea87'; } /* '' */
.icon-fog-moon:before { content: '\ea88'; } /* '' */
.icon-fog-cloud:before { content: '\ea89'; } /* '' */
.icon-fog:before { content: '\ea8a'; } /* '' */
.icon-cloud-3:before { content: '\ea8b'; } /* '' */
.icon-cloud-flash:before { content: '\ea8c'; } /* '' */
.icon-cloud-flash-alt:before { content: '\ea8d'; } /* '' */
.icon-drizzle:before { content: '\ea8e'; } /* '' */
.icon-rain-1:before { content: '\ea8f'; } /* '' */
.icon-windy-rain:before { content: '\ea90'; } /* '' */
.icon-snow:before { content: '\ea91'; } /* '' */
.icon-snow-alt:before { content: '\ea92'; } /* '' */
.icon-snow-heavy:before { content: '\ea93'; } /* '' */
.icon-hail:before { content: '\ea94'; } /* '' */
.icon-clouds:before { content: '\ea95'; } /* '' */
.icon-clouds-flash:before { content: '\ea96'; } /* '' */
.icon-mail-4:before { content: '\ea97'; } /* '' */
.icon-heart-4:before { content: '\ea98'; } /* '' */
.icon-star-4:before { content: '\ea99'; } /* '' */
.icon-star-empty-2:before { content: '\ea9a'; } /* '' */
.icon-ok-3:before { content: '\ea9b'; } /* '' */
.icon-cancel-3:before { content: '\ea9c'; } /* '' */
.icon-plus-4:before { content: '\ea9d'; } /* '' */
.icon-help-circled-2:before { content: '\ea9e'; } /* '' */
.icon-help-circled-alt:before { content: '\ea9f'; } /* '' */
.icon-home-3:before { content: '\eaa0'; } /* '' */
.icon-pencil-4:before { content: '\eaa1'; } /* '' */
.icon-attention-3:before { content: '\eaa2'; } /* '' */
.icon-attention-alt-1:before { content: '\eaa3'; } /* '' */
.icon-mic-off:before { content: '\eaa4'; } /* '' */
.icon-clock-4:before { content: '\eaa5'; } /* '' */
.icon-stopwatch:before { content: '\eaa6'; } /* '' */
.icon-hourglass:before { content: '\eaa7'; } /* '' */
.icon-down-4:before { content: '\eaa8'; } /* '' */
.icon-left-3:before { content: '\eaa9'; } /* '' */
.icon-right-3:before { content: '\eaaa'; } /* '' */
.icon-up-4:before { content: '\eaab'; } /* '' */
.icon-down-bold-1:before { content: '\eaac'; } /* '' */
.icon-right-bold-1:before { content: '\eaad'; } /* '' */
.icon-up-bold-1:before { content: '\eaae'; } /* '' */
.icon-down-fat:before { content: '\eaaf'; } /* '' */
.icon-left-fat:before { content: '\eab0'; } /* '' */
.icon-right-fat:before { content: '\eab1'; } /* '' */
.icon-up-fat:before { content: '\eab2'; } /* '' */
.icon-flash-3:before { content: '\eab3'; } /* '' */
.icon-cloud-4:before { content: '\eab4'; } /* '' */
.icon-vector-pencil:before { content: '\eab5'; } /* '' */
.icon-at-3:before { content: '\eab6'; } /* '' */
.icon-female-1:before { content: '\eab7'; } /* '' */
.icon-male-1:before { content: '\eab8'; } /* '' */
.icon-king:before { content: '\eab9'; } /* '' */
.icon-anchor-1:before { content: '\eaba'; } /* '' */
.icon-cog-3:before { content: '\eabb'; } /* '' */
.icon-left-bold-1:before { content: '\eabc'; } /* '' */
.icon-down-open-2:before { content: '\f004'; } /* '' */
.icon-up-open-2:before { content: '\f005'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-th-list-2:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-coverflow-empty:before { content: '\f00d'; } /* '' */
.icon-pause-3:before { content: '\f00e'; } /* '' */
.icon-play-3:before { content: '\f00f'; } /* '' */
.icon-to-end-3:before { content: '\f010'; } /* '' */
.icon-to-start-3:before { content: '\f011'; } /* '' */
.icon-fast-forward-1:before { content: '\f012'; } /* '' */
.icon-fast-backward-1:before { content: '\f013'; } /* '' */
.icon-upload-cloud-3:before { content: '\f014'; } /* '' */
.icon-download-cloud-2:before { content: '\f015'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-globe-3:before { content: '\f018'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-math-circled-empty:before { content: '\f01b'; } /* '' */
.icon-math-circled:before { content: '\f01c'; } /* '' */
.icon-paper-plane-2:before { content: '\f01d'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */
.icon-paper-plane-alt:before { content: '\f01f'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-star-half-1:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-ccw-2:before { content: '\f025'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-hash-1:before { content: '\f029'; } /* '' */
.icon-reply-2:before { content: '\f02a'; } /* '' */
.icon-retweet-2:before { content: '\f02b'; } /* '' */
.icon-login-2:before { content: '\f02c'; } /* '' */
.icon-logout-2:before { content: '\f02d'; } /* '' */
.icon-download-4:before { content: '\f02e'; } /* '' */
.icon-upload-3:before { content: '\f02f'; } /* '' */
.icon-location-4:before { content: '\f031'; } /* '' */
.icon-monitor-1:before { content: '\f032'; } /* '' */
.icon-tablet-2:before { content: '\f033'; } /* '' */
.icon-mobile-4:before { content: '\f034'; } /* '' */
.icon-connected-object:before { content: '\f035'; } /* '' */
.icon-isight:before { content: '\f039'; } /* '' */
.icon-videocam-2:before { content: '\f03a'; } /* '' */
.icon-shuffle-2:before { content: '\f03b'; } /* '' */
.icon-chat-4:before { content: '\f03d'; } /* '' */
.icon-bell-3:before { content: '\f03f'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-mic-3:before { content: '\f048'; } /* '' */
.icon-doc-4:before { content: '\f04a'; } /* '' */
.icon-dribbble-circled-1:before { content: '\f04f'; } /* '' */
.icon-dribbble-2:before { content: '\f050'; } /* '' */
.icon-facebook-circled-1:before { content: '\f051'; } /* '' */
.icon-facebook-3:before { content: '\f052'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled-2:before { content: '\f054'; } /* '' */
.icon-github-2:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled-1:before { content: '\f057'; } /* '' */
.icon-twitter-3:before { content: '\f058'; } /* '' */
.icon-gplus-circled-1:before { content: '\f059'; } /* '' */
.icon-gplus-2:before { content: '\f05a'; } /* '' */
.icon-linkedin-circled-1:before { content: '\f05b'; } /* '' */
.icon-linkedin-2:before { content: '\f05c'; } /* '' */
.icon-instagram-2:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-mfg-logo:before { content: '\f05f'; } /* '' */
.icon-mfg-logo-circled:before { content: '\f060'; } /* '' */
.icon-user-4:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-2:before { content: '\f064'; } /* '' */
.icon-folder-3:before { content: '\f067'; } /* '' */
.icon-folder-open-1:before { content: '\f068'; } /* '' */
.icon-folder-empty-2:before { content: '\f069'; } /* '' */
.icon-attach-3:before { content: '\f06a'; } /* '' */
.icon-ok-circled-1:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-2:before { content: '\f06e'; } /* '' */
.icon-inbox-2:before { content: '\f070'; } /* '' */
.icon-trophy-1:before { content: '\f074'; } /* '' */
.icon-lock-open-alt-1:before { content: '\f075'; } /* '' */
.icon-link-3:before { content: '\f07b'; } /* '' */
.icon-zoom-in-2:before { content: '\f07e'; } /* '' */
.icon-zoom-out-2:before { content: '\f07f'; } /* '' */
.icon-stop-4:before { content: '\f080'; } /* '' */
.icon-export-3:before { content: '\f081'; } /* '' */
.icon-eye-4:before { content: '\f082'; } /* '' */
.icon-trash-4:before { content: '\f083'; } /* '' */
.icon-hdd-1:before { content: '\f084'; } /* '' */
.icon-info-circled-2:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-print-3:before { content: '\f087'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-soundcloud-2:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-maxcdn:before { content: '\f136'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-xing-squared:before { content: '\f169'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-bitbucket-squared:before { content: '\f172'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-foursquare:before { content: '\f180'; } /* '' */
.icon-trello:before { content: '\f181'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-gittip:before { content: '\f184'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-renren:before { content: '\f18b'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-stackexchange:before { content: '\f18d'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-try:before { content: '\f195'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-openid:before { content: '\f19b'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-yahoo:before { content: '\f19e'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-reddit-squared:before { content: '\f1a2'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f1a3'; } /* '' */
.icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.icon-delicious:before { content: '\f1a5'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-pied-piper-squared:before { content: '\f1a7'; } /* '' */
.icon-pied-piper-alt:before { content: '\f1a8'; } /* '' */
.icon-drupal:before { content: '\f1a9'; } /* '' */
.icon-joomla:before { content: '\f1aa'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-spoon:before { content: '\f1b1'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-deviantart:before { content: '\f1bd'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-vine:before { content: '\f1ca'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-jsfiddle:before { content: '\f1cc'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-empire:before { content: '\f1d1'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-hacker-news:before { content: '\f1d4'; } /* '' */
.icon-tencent-weibo:before { content: '\f1d5'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-tty:before { content: '\f1e4'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-slideshare:before { content: '\f1e7'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-yelp:before { content: '\f1e9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-gwallet:before { content: '\f1ee'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-lastfm:before { content: '\f202'; } /* '' */
.icon-lastfm-squared:before { content: '\f203'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-ioxhost:before { content: '\f208'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */
.icon-shekel:before { content: '\f20b'; } /* '' */
.icon-meanpath:before { content: '\f20c'; } /* '' */
.icon-buysellads:before { content: '\f20d'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-dashcube:before { content: '\f210'; } /* '' */
.icon-forumbee:before { content: '\f211'; } /* '' */
.icon-leanpub:before { content: '\f212'; } /* '' */
.icon-sellsy:before { content: '\f213'; } /* '' */
.icon-shirtsinbulk:before { content: '\f214'; } /* '' */
.icon-simplybuilt:before { content: '\f215'; } /* '' */
.icon-skyatlas:before { content: '\f216'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-mercury:before { content: '\f223'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mars-stroke:before { content: '\f229'; } /* '' */
.icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.icon-mars-stroke-h:before { content: '\f22b'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-viacoin:before { content: '\f237'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-github-circled-1:before { content: '\f301'; } /* '' */
.icon-twitter-2:before { content: '\f302'; } /* '' */
.icon-flickr-1:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f313'; } /* '' */
.icon-twitter-rect:before { content: '\f314'; } /* '' */
.icon-tumblr-1:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble-1:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon-1:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled-1:before { content: '\f31f'; } /* '' */
.icon-lastfm-1:before { content: '\f321'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify-1:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-qq-1:before { content: '\f32a'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-dropbox-1:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype-1:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren-1:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal-1:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud-1:before { content: '\f348'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance-1:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-comment-2:before { content: '\f4ac'; } /* '' */
.icon-folder-open-empty-1:before { content: '\f4c2'; } /* '' */
.icon-calendar-4:before { content: '\f4c5'; } /* '' */
.icon-newspaper-2:before { content: '\f4f0'; } /* '' */
.icon-camera-4:before { content: '\f4f7'; } /* '' */
.icon-search-4:before { content: '\f50d'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock-4:before { content: '\f512'; } /* '' */
.icon-lock-open-3:before { content: '\f513'; } /* '' */
.icon-joystick:before { content: '\f514'; } /* '' */
.icon-fire-1:before { content: '\f525'; } /* '' */
.icon-chart-bar-4:before { content: '\f526'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */
.icon-spinner1:before { content: '\f528'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */